export(analysis_registry)
export(coerce_mapping)
export(demo_contour_data)
export(demo_image_data)
export(demo_spatial_3d_data)
export(demo_spatial_data)
export(method_citations)
export(recommend_methods)
export(result_manifest)
export(run_analysis)
export(run_conditional_network)
export(run_gpghs)
export(run_image_to_image)
export(run_ispat)
export(run_ispat3d)
export(run_mediation)
export(run_neural_prediction)
export(run_scalar_image)
export(run_shape_pca)
export(run_spatial_clustering)
export(run_spatial_ml)
export(run_spatial_qc)
export(validate_dataset)
export(workbench_citation)
export(write_result_bundle)
